form {
    text-align: center;
    margin-top: 200px;
}

th, td {
    padding-right: 50px;
}

table {
    margin-top: 0;
    text-align: left;
}

td:nth-child(3) {
    text-align: center;
}

.result__text,
.result__url {
    display: inline-block;
}